<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
{% if page.title == "Home" %}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>
{% else %}
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
{% endif %}

<!-- Toggleable sidebar -->
<div class="sidebar center" id="sidebar">
  <div class="sidebar-item">
    <p>{% avatar mletterle size=128%}</p>
    <p>{{ site.description }}</p>
    <p>
        <a href="http://twitter.com/{{ site.author.twitter }}" target="_blank"><span class="fab fa-twitter fa-lg"></span></a>
        <a href="http://github.com/{{ site.author.github }}" target="_blank"><span class="fab fa-github fa-lg"></span></a>
        <a href="http://stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank"><span class="fab fa-stack-overflow fa-lg"></span></a>
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved. <a href="/feed.xml" target="_blank"><span class="fas fa-rss-square"></span></a>
    </p>
  </div>
</div>
